[submodule "buildroot"]
	path = buildroot
	url = https://git.busybox.net/buildroot
[submodule "QtDash/eigen"]
	path = QtDash/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "QtDash/Hardware/eagle-libraries"]
    path = "QtDash/Hardware/eagle-libraries"
    url = https://github.com/sparkfun/SparkFun-Eagle-Libraries.git
